/node_modules
/public/hot
/public/client_profile_images/*
/public/client_user_images/*
/public/storage
/storage/*.key
/public/exercise/*
/public/client/*
/public/admin/*
/public/subscriber/*
public/user/*
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
.phpintel